<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

    </br>
    <div th:fragment="internetForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>
        <label for="idServicio" class="col-form-label">ID Servicio:</label>
        <input class="form-control" type="number" id="idServicio" name="idServicio" required
            th:value=${servicio.idServicio}>
        <label for="bandaAncha" class="col-form-label">Banda Ancha:</label>
        <input class="form-control" type="number" id="bandaAncha" name="bandaAncha" required
            th:value=${internet.bandaAncha}>
    
        <br>

        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/internet}" class="btn btn-primary">Cancelar</a>
        </div>
        
    </form>

    
</br>

</div>

</body>

</html>