<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fragmento</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>

    </br>
    <div th:fragment="usuarioForm(titulo)" class="container border border-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
    
    <form>>
        <label class="col-form-label">Nombre:</label>
        <input class="form-control" type="text" id="nombre" name="nombre" required th:value="${usuario.nombre}" />
        <label class="col-form-label">Correo:</label>
        <input class="form-control" type="text" id="ciudad" name="correo" required th:value="${usuario.correo}" />
        <label class="col-form-label" for="rol">Rol:</label>
        <select class="form-control" id="rol" name="rol" required>
            <option value="cliente" th:selected="${usuario.rol eq 'cliente'}">Cliente</option>
            <option value="gerente" th:selected="${usuario.rol eq 'gerente'}">Gerente</option>
            <option value="administrador" th:selected="${usuario.rol eq 'administrador'}">Administrador</option>
            <option value="empleado" th:selected="${usuario.rol eq 'empleado'}">Empleado</option>
            <option value="recepcionista" th:selected="${usuario.rol eq 'recepcionista'}">Recepcionista</option>
            <option value="acompanante" th:selected="${usuario.rol eq 'acompanante'}">Acompañante</option>
        </select>
        
        <br>

        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary">
            <a th:href="@{/usuarios}" class="btn btn-primary">Cancelar</a>
        </div>
    </form>

</br>
</div>

</body>

</html>