<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Gimnasio</title>
</head>
<body>
    <div class="text-center">
        <h1>Lista servicios prestados por la gimnasio</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idServicio</th>
                    <th>costoTotal</th>
                    <th>capacidad</th>
                    <th>numeroMaquinas</th>
                    <th>horaInicio</th>
                    <th>horaFin</th>

     
                </tr>
            </thead>
            <th:block th:each="gimnasio:${gimnasio}">
                <tr>
                    <td th:text="${gimnasioo.idServicio}"></td>
                    <td th:text="${gimnasio.costoTotal}"></td>
                    <td th:text="${gimnasio.capacidad}"></td>
                    <td th:text="${gimnasio.numeroMaquinas}"></td>
                    <td th:text="${gimnasio.horaInicio}"></td>
                    <td th:text="${gimnasio.horaFin}"></td>
                    <td>
                        <a th:href="@{gimnasio/{idServicio}/edit(idServicio=${gimnasio.idServicio})}">Editar</a>
                        <a th:href="@{gimnasio/{idServicio}/delete(idServicio=${gimnasio.idServicio})}"
                            onclick="return confirm('Confirmación de borrar este servicio de gimnasio')">Borrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>
    <div>
        <a th:href='@{gimnasio/new}' class="btn btn-primary">Añadir Servicios de Gimnasio</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>
</html>