<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div class="text-center">
        <h1>Lista de Habitaciones</h1>
        
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idhabitacion</th>
                    <th>capacidad</th>
                    <th>disponible</th>
                    <th>tipo</th>
                    <th>dotacion</th>
                    <th>precioNoche</th>
                </tr>
            </thead>
            <th:block th:each="habitacion: ${habitaciones}">
                <tr>
                    <td th:text="${habitacion.idhabitacion}"></td>
                    <td th:text="${habitacion.capacidad}"></td>
                    <td th:text="${habitacion.disponible}"></td>
                    <td th:text="${habitacion.tipo}"></td>
                    <td th:text="${habitacion.dotacion}"></td>
                    <td th:text="${habitacion.precionoche}"></td>
                    <td>
                        <a th:href="@{habitaciones/{idhabitacion}/edit(idhabitacion=${habitacion.idhabitacion})}">Editar</a>
                        <form th:action="@{/deleteHabitacion}" method="post">
                            <input type="hidden" name="id" th:value="${habitacion.idhabitacion}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </th:block>

        </table>

        <h2>Requerimiento 1</h2>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>IdHabitacion</th>
                    <th>Dinero Recolectado</th>
                </tr>
            </thead>
            <th:block th:each="dinerorec: ${reqs1}">
                <tr>
                    <td th:text="${dinerorec.idhabitacion}"></td>
                    <td th:text="${dinerorec.total}"></td>
                </tr>
            </th:block>

        </table>

        <h2>Requerimiento 2</h2>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>IdHabitacion</th>
                    <th>Indice de Ocupacion</th>
                </tr>
            </thead>
            <th:block th:each="req2: ${reqs2}">
                <tr>
                    <td th:text="${req2.idhabitacion}"></td>
                    <td th:text="${req2.ocupacion}"></td>
                </tr>
            </th:block>

        </table>

    <div>
        <a th:href='@{habitaciones/new}' class="btn btn-primary">Añadir Habitacion</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>

</html>
