<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
</head>
<body>
    <div>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <th:block th:each="bar : ${hoteles}">
                <tr>
                    <td th:text="${bar.nombre}"></td>
                    <td th:text="${bar.ciudad}"></td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Atrás</a>
        </div>
        <br />
    </div>
    
</body>
</html>