<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                </tr>
            </thead>
            <th:block th:each="hotel : ${hoteles}">
                <tr>
                    <td th:text="${hotel.nombre}"></td>
                    <td th:text="${hotel.ciudad}"></td>
                </tr>
            </th:block>

        </table>
        <div>
            <a th:href='@{/}' class="btn btn-primary">Atrás</a>
        </div>
        <br />
    </div>
    
</body>
</html>