<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Internet</title>
</head>
<body>
    <div class="text-center">
        <h1>Lista servicios prestados por la internet</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idServicio</th>
                    <th>costoTotal</th>
                    <th>capacidad</th>
                    <th>bandaAncha</th>
                    

     
                </tr>
            </thead>
            <th:block th:each="internet:${internet}">
                <tr>
                    <td th:text="${interneto.idServicio}"></td>
                    <td th:text="${internet.costoTotal}"></td>
                    <td th:text="${internet.capacidad}"></td>
                    <td th:text="${internet.bandaAncha}"></td>
                    
                    <td>
                        <a th:href="@{internet/{idServicio}/edit(idServicio=${internet.idServicio})}">Editar</a>
                        <a th:href="@{internet/{idServicio}/delete(idServicio=${internet.idServicio})}"
                            onclick="return confirm('Confirmación de borrar este servicio de internet')">Borrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>
    <div>
        <a th:href='@{internet/new}' class="btn btn-primary">Añadir Servicios de internet</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>
</html>