<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios lavado</title>
</head>
<body>
    <div class="text-center">
        <h1>Lista servicios prestados de lavado</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idServicio</th>
                    <th>costoTotal</th>
                    <th>capacidad</th>
                    <th>profunidad</th>
                    <th>horaInicio</th>
                    <th>horaFin</th>

                    
                </tr>
            </thead>
            <th:block th:each="lavado:${lavado}">
                <tr>
                    <td th:text="${lavado.idServicio}"></td>
                    <td th:text="${lavado.costoTotal}"></td>
                    <td th:text="${lavado.capacidad}"></td>
                    <td th:text="${lavado.nombre}"></td>
                   
                    <td>
                        <a th:href="@{lavado/{idServicio}/edit(idServicio=${lavado.idServicio})}">Editar</a>
                        <a th:href="@{lavado/{idServicio}/delete(idServicio=${lavado.idServicio})}"
                            onclick="return confirm('Confirmación de borrar este servicio de lavado')">Borrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>
    <div>
        <a th:href='@{lavado/new}' class="btn btn-primary">Añadir Servicios de lavado</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>
</html>