<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios Piscina</title>
</head>
<body>
    <div class="text-center">
        <h1>Lista servicios prestados por la piscina</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idServicio</th>
                    <th>costoTotal</th>
                    <th>capacidad</th>
                    <th>profunidad</th>
                    <th>horaInicio</th>
                    <th>horaFin</th>

                    
                </tr>
            </thead>
            <th:block th:each="piscina:${piscina}">
                <tr>
                    <td th:text="${piscina.idServicio}"></td>
                    <td th:text="${piscina.costoTotal}"></td>
                    <td th:text="${piscina.capacidad}"></td>
                    <td th:text="${piscina.profunidad}"></td>
                    <td th:text="${piscina.horaInicio}"></td>
                    <td th:text="${piscina.horaFin}"></td>
                    <td>
                        <a th:href="@{piscinas/{idServicio}/edit(idServicio=${piscina.idServicio})}">Editar</a>
                        <a th:href="@{piscinas/{idServicio}/delete(idServicio=${piscina.idServicio})}"
                            onclick="return confirm('Confirmación de borrar este servicio de piscina')">Borrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>
    <div>
        <a th:href='@{piscinas/new}' class="btn btn-primary">Añadir Servicios de Piscina</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>
</html>