<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes Consumo</title>
</head>
<body>
    <div class="text-center">
        <h1>Lista de Planes Consumo</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idPlanConsumo</th>
                    <th>nombre</th>
                    <th>descuentoAlojamiento</th>
                    <th>descuentoBar</th>
                    <th>descuentoRestaurante</th>
                    <th>descuentoServicios</th>
                    <th>costoFijo</th>
                    <th>fechaInicial</th>
                    <th>duracion</th>
                    <th>valorFinal</th>
                    <th>valido</th>
                </tr>
            </thead>
            <th:block th:each="planConsumo:${planes_c}">
                <tr>
                    <td th:text="${planConsumo.idPlanConsumo}"></td>
                    <td th:text="${planConsumo.nombre}"></td>
                    <td th:text="${planConsumo.descuentoAlojamiento}"></td>
                    <td th:text="${planConsumo.descuentoBar}"></td>
                    <td th:text="${planConsumo.descuentoRestaurante}"></td>
                    <td th:text="${planConsumo.descuentoServicios}"></td>
                    <td th:text="${planConsumo.costoFijo}"></td>
                    <td th:text="${planConsumo.fechaInicial}"></td>
                    <td th:text="${planConsumo.duracion}"></td>
                    <td th:text="${planConsumo.valorFinal}"></td>
                    <td th:text="${planConsumo.valido}"></td>
                    <td>
                        <a th:href="@{planes_c/{idPlanConsumo}/edit(idPlanConsumo=${planConsumo.idPlanConsumo})}">Editar</a>
                        <a th:href="@{planes_c/{idPlanConsumo}/delete(idPlanConsumo=${planConsumo.idPlanConsumo})}"
                            onclick="return confirm('Confirmación de borrar este plan consumo')">Borrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>
    <div>
        <a th:href='@{planes_c/new}' class="btn btn-primary">Añadir Plan Consumo</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>
</html>
