<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear ProductosMenu</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
    <br>
    <div class="container border border-2 w-25">    

    <h1 class="text-center">Crear Nuevo producto</h1>

    <form th:action="@{/productosMenu/new/save}" method="post">

        <label class="col-form-label" for="idServicio">Establecimiento:</label>
        <select class="form-control" id="idServicio" name="idServicio" required>
            <th:block th:each="establecimiento : ${establecimientos}">
                <option th:value="${establecimiento.idServicio}"></option>
            </th:block>
        </select><br>

        <label class="col-form-label" for="idProducto">Producto:</label>
        <select class="form-control"  id="idProducto" name="idProducto" required>
            <th:block th:each="producto : ${productos}">
                <option th:value="${producto.idProducto}"></option>
            </th:block>
        </select><br>

        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/productos}" class="btn btn-primary">Cancelar</a>
        </div>
    </br>
    </form>
    </div>

</body>

</html>