<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crear ProductoConsumido</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />

</head>
<body>
    <br>
    <div class="container border border-2 w-25">    

    <h1 class="text-center">Crear Nuevo Producto</h1>

    <form th:action="@{/productoConsumido/new/save}" method="post">

        <label class="col-form-label" for="idcuenta">Cuenta Consumo:</label>
        <select class="form-control" id="idcuenta" name="idcuenta" required>
            <th:block th:each="cuentaConsumo : ${cuentas_c}">
                <option th:value="${cuentaConsumo.idcuenta}"></option>
            </th:block>
        </select><br>

        <label class="col-form-label" for="idproducto">Producto:</label>
        <select class="form-control"  id="idproducto" name="idproducto" required>
            <th:block th:each="producto : ${productos}">
                <option th:value="${producto.idproducto}"></option>
            </th:block>
        </select><br>

        <div class="text-center">
        <input type="submit" value="Guardar" class="btn btn-primary">
        <a th:href="@{/productos}" class="btn btn-primary">Cancelar</a>
        </div>
    </br>
    </form>
    </div>

</body>

</html>