<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div class="text-center">
        <h1>Lista de Reservas</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idReserva</th>
                    <th>fechaInicio</th>
                    <th>fechaFin</th>
                    <th>duracion</th>

                </tr>
            </thead>
            <th:block th:each="reserva:${reservas}">
                <tr>
                    <td th:text="${reserva.idreserva}"></td>
                    <td th:text="${reserva.fechainicio}"></td>
                    <td th:text="${reserva.fechafin}"></td>
                    <td th:text="${reserva.duracion}"></td>
                    <td>
                        <a th:href="@{reservas/{idreserva}/edit(idreserva=${reserva.idreserva})}">Editar</a>
                        <form th:action="@{/deleteReserva}" method="post">
                            <input type="hidden" name="id" th:value="${reserva.idreserva}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>
    <div>
        <a th:href='@{reservas/new}' class="btn btn-primary">Añadir Reserva</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>
</html>