<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div class="text-center">
        <h1>Lista de Servicios</h1>

        <div class="container w-25">
            <div class="card border border-2 mx-auto">
                <h5 class="card-header" role="button" id="headingOne">
                    <a href="#" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">
                        Req 2 
                    </a>
                </h5>
                <div id="busqueda" class="collapse">
                    <form th:action="@{servicios}" method="get">
                        <label class="col-form-label">Fecha inicio (DD-MM-YYYY HH:MM:SS):</label>
                        <input class="form-control" type="text" id="fechainicio" name= "fechainicio" data-date-format="YYYY-MM-DD HH:MM:SS.0" />
                        <label class="col-form-label">Fecha fin (DD-MM-YYYY HH:MM:SS):</label>
                        <input class="form-control" type="text" id="fechafin" name= "fechafin" data-date-format="YYYY-MM-DD HH:MM:SS.0" />

                        <br />

                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary" >Buscar los 20 servicios mas populares</button>
                        </div>

                        <br />

                    </form>    
                </div>
            </div>

        </div>

        <br />

        <div class="container w-25">
            <div class="card border border-2 mx-auto">
                <h5 class="card-header" role="button" id="headingOne">
                    <a href="#" class="collapsed d-block" data-toggle="collapse" data-target="#busqueda">
                        Req 4
                    </a>
                </h5>
                <div id="busqueda" class="collapse">
                    <form th:action="@{servicios}" method="get">
                        <label class="col-form-label">Precio (min):</label>
                        <input class="form-control" type="text" id="precioinicio" name= "precioinicio" />
                        <label class="col-form-label">Precio (max):</label>
                        <input class="form-control" type="text" id="preciofin" name= "preciofin" />
                        <label class="col-form-label">Nombre empleado:</label>
                        <input class="form-control" type="text" id="nombre" name= "nombre" />
                        <label class="col-form-label">Fecha inicio (YYYY-MM-DD):</label>
                        <input class="form-control" type="text" id="fechainicioo" name= "fechainicioo" data-date-format="YYYY-MM-DD HH:MM:SS.0" />
                        <label class="col-form-label">Fecha fin (YYYY-MM-DD):</label>
                        <input class="form-control" type="text" id="fechafino" name= "fechafino" data-date-format="YYYY-MM-DD HH:MM:SS.0" />                       
                        <label class="col-form-label">Servicio: </label>

                        <select class="form-control" name="servicio" id="servicio">
                            <option value=""></option>
                            <option th.value="Piscina"  th:text="Piscina"></option>
                            <option th.value="Spa"  th:text="Spa"></option>
                            <option th.value="Internet"  th:text="Internet"></option>
                            <option th.value="Lavado"  th:text="Lavado"></option>
                            <option th.value="Gimnasio"  th:text="Gimnasio"></option>
                            <option th.value="Salon"  th:text="Salon"></option>
                            <option th.value="Prestamo"  th:text="Prestamo"></option>


                        </select><br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary" >Buscar los servicios por características</button>
                        </div>

                        <br />

                    </form>    
                </div>
            </div>

        </div>


        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idServicio</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Costo Total</th>
                </tr>
            </thead>
            <th:block th:each="servicio : ${servicios}">
                <tr>
                    <td th:text="${servicio.idservicio}"></td>
                    <td th:text="${servicio.nombre}"></td>
                    <td th:text="${servicio.descripcion}"></td>
                    <td th:text="${servicio.costototal}"></td>
                    <td>
                        <a th:href="@{'/servicios/' + ${servicio.idservicio} + '/edit'}">Editar</a>
                        <a th:href="@{'/servicios/' + ${servicio.idservicio} + '/delete'}"
                            onclick="return confirm('Confirmación de borrar este servicio')">Borrar</a>
                    </td>
                </tr>
            </th:block>
        </table>

        <h2>Requerimiento 2 </h2>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Veces Consumido</th>
                </tr>
            </thead>
            <th:block th:each="req2: ${reqs2}">
                <tr>
                    <td th:text="${req2.NOMBRE_SERVICIO}"></td>
                    <td th:text="${req2.VECES_CONSUMIDO}"></td>
                </tr>
            </th:block>

        </table>

        <h2>Requerimiento 4 </h2>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id Servicio</th>
                    <th>Nombre</th>
                    <th>Costo Total</th>
                </tr>
            </thead>
            <th:block th:each="req4: ${reqs4}">
                <tr>
                    <td th:text="${req4.ID_SERV}"></td>
                    <td th:text="${req4.NOMBRE}"></td>
                    <td th:text="${req4.COSTO_TOTAL}"></td>
                </tr>
            </th:block>

        </table>

        <h2>Requerimiento 8 </h2>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Servicio</th>
                    <th>Veces Solicitado</th>
                </tr>
            </thead>
            <th:block th:each="req8: ${reqs8}">
                <tr>
                    <td th:text="${req8.NOMBRE_SERVICIO}"></td>
                    <td th:text="${req8.VECES_SOLICITADO}"></td>
                </tr>
            </th:block>

        </table>

    </table>
    <div>
        <a th:href='@{servicios/new}' class="btn btn-primary">Añadir Servicio</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
</body>
</html>
