<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

</head>

<body>
    <div class="container mx-auto w-25">
        <h1> Servicios</h1>
        <img/>
        <div>
            <a th:href="@{/piscinas}" class="btn btn-primary">Piscinas</a>
            <a th:href="@{/gimnasiso}" class="btn btn-primary">Gimnasio</a>
            <a th:href="@{/internet}" class="btn btn-primary">Internet</a>
            <a th:href="@{/lavados}" class="btn btn-primary">Lavados</a>
            <a th:href="@{/prestamos}" class="btn btn-primary">Prestamos</a>
            <a th:href="@{/salones}" class="btn btn-primary">Salones</a>
            <a th:href="@{/spas}" class="btn btn-primary">Spas</a>
            <a th:href="@{/establecimientos}" class="btn btn-primary">Establecimientos</a>
            <a th:href="@{/establecimientos_c}" class="btn btn-primary">Establecimientos Comerciales</a>


        </div>
    </div>
</body>


</html>

