<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <div class="text-center">
        <h1>Lista de Bares</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>idUsuario</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>nombreHotel</th>
                </tr>
            </thead>
            <th:block th:each="usuario:${usuarios}">
                <tr>
                    <td th:text="${usuario.idUsuario}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td th:text="${usuario.rol}"></td>
                    <td th:text="${usuario.nombreHotel}"></td>
                    <td>
                        <a th:href="@{usuarios/{idUsuario}/edit(idUsario=${usuario.idUsuario})}">Editar</a>
                        <a th:href="@{usuarios/{idUsuario}/delete(idUsuario=${usuario.idUsario})}"
                            onclick="return confirm('Confirmación de borrar este usuario')">Borrar</a>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>
    <div>
        <a th:href='@{usuarios/new}' class="btn btn-primary">Añadir Usario</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>

</html>