<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/css/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap.min.js}"></script>
</head>
<body>
    <div class="text-center">
        <h1>Lista de Usuarios</h1>

        <br> 

        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <th:block th:each="usuario:${usuarios}">
                <tr>
                    <td th:text="${usuario.idusuario}"></td>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.correo}"></td>
                    <td th:text="${usuario.rol}"></td>
                    <td>
                        <a th:href="@{usuarios/{idusuario}/edit(idusuario=${usuario.idusuario})}">Editar</a>
                        <form th:action="@{/deleteUsuario}" method="post">
                            <input type="hidden" name="id" th:value="${usuario.idusuario}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar Usuario</button>
                        </form>
                    </td>
                </tr>
            </th:block>

        </table>
    </table>

    <h2>Requerimiento 7</h2>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id Usuario</th>
                <th>Nombre</th>
                
            </tr>
        </thead>
        <th:block th:each="consumoHotel:${reqs7}">
            <tr>
                <td th:text="${consumoHotel.idcliente}"></td>
                <td th:text="${consumoHotel.nombre}"></td>

            </tr>
        </th:block>

    </table>


    
    </table>


    <div>
        <a th:href='@{usuarios/new}' class="btn btn-primary">Añadir Usario</a>
        <a th:href='@{/}' class="btn btn-primary">Atrás</a>
    </div>
    <br />
    </div>
</body>

</html>